
<section class="brown" id="brown">
    <div class="container m-auto">
      <div class="row">
        <!-- //////////////////////// -->
         <div class="col-lg-4 col-md-6 col-sm-12 p-3 text-center">
           <div class="mt-5 brown-data">
           <i class="fa fa-coffee" style="font-size: 50px;" aria-hidden="true"></i>
             <h3 class="h5 mt-3">EASY TO ORDER</h3>
             <p class="mt-3">Even the all-powerful Pointing has no
                control about the blind texts it 
               is an almost unorthographic.</p>
           </div>
         </div>
        <!-- //////////////////////// -->
        <!-- //////////////////////// -->
        <div class="col-lg-4 col-md-6 col-sm-12 p-3 text-center">
         <div class="mt-5 brown-data">
           <i class="flaticon-delivery"></i>
           <i class="fa fa-coffee" style="font-size: 50px;" aria-hidden="true"></i>
           <h3 class="h5 mt-3">FASTEST DELIVERY</h3>
           <p class="mt-3">Even the all-powerful Pointing has no
              control about the blind texts it 
             is an almost unorthographic.</p>
         </div>
       </div>
      <!-- //////////////////////// -->
        <!-- //////////////////////// -->
        <div class="col-lg-4 col-md-6 col-sm-12 p-3  text-center">
         <div class="mt-5 brown-data">
          <i class="fa fa-coffee" style="font-size: 50px;" aria-hidden="true"></i>
          <h3 class="h5 mt-3">QUALITY COFFEE</h3>
           <p class="mt-3">Even the all-powerful Pointing has no
              control about the blind texts it 
             is an almost unorthographic.</p>
         </div>
       </div>
      <!-- //////////////////////// -->
      </div>
    </div>
    <br><br><br><br><br>
 </section>
 <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
 <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
 <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
 

 <!--//////////////////////story Section/////////////////////////// */
/* //////////////////////story Section/////////////////////////// */ -->
<section class="story " id="story">
    <div class="container-fluid">
      <div class="row ">
        <!-- ////////////////////////////////// -->
             <div  class=" col-lg-6 col-md-6 about-Left-Photo"></div>
        <!-- ////////////////////////////////// -->
        <div  class=" col-lg-6 col-md-6  bac2 row p-0 m-0 ">
              <div class=" text-light col-lg-12 col-md-12 col-xsm-12 story-text w-75 ">
                <div class=" title-text  w-100 ">
                  <h2 class="big">Discover</h2>
                  <h1 class="mb-4">our story</h1>
                  <p class="m-0 p-0 mt-3">On her way she met a copy. The copy warned the Little 
                    Blind Text,that where it came from it would have been rewritten a thousand times
                     and everything that was left from its origin would be the word "and"
                      and the Little Blind Text should turn around and return to its own, 
                      safe country. But nothing the copy said could convince her and so it 
                      didn’t take long until a few insidious Copy Writers ambushed her,
                    made her drunk with Longe and Parole and dragged her into their agency,
                     where they abused her for their.</p>
                </div>
              </div>
        </div>
        <!-- ////////////////////////////////// -->
    
      </div>
    </div>
    </section>

<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
 <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->


 <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->

<section class="count">
  <div  class=" count  text-center p-5">
      <div class="container p-5">
       
          <div class="row mt-5">
              <div class="col-lg-3 mt-5 d-flex justify-content-center">
                  <div class=" m-auto text-center  mt-5">
                    <div class="count-text1">
                      <div class="icon">
                        <i class="fa fa-coffee mt-3" style="font-size: 50px;" aria-hidden="true"></i>
                        
                      </div>
                      <h1 class="mt-3">100</h1>
                      <p>Coffee Branches</p>
                    </div>
                  </div>

              </div>
              <!-- ///////////////////////// -->
              <div class="col-lg-3 mt-5 d-flex justify-content-center">
                <div class=" m-auto text-center mt-5">
                  <div class="count-text1">
                    <div class="icon">
                      <i class="fa fa-coffee mt-3" style="font-size: 50px;" aria-hidden="true"></i>
                                 
                               </div>
                    <h1 class="mt-3">85</h1>
                    <p> Number of Awards</p>
                  </div>
                  </div>
              </div>
              <!-- /////////////////////////// -->

              <!-- ///////////////////////// -->
              <div class="col-lg-3 mt-5 d-flex justify-content-center">
                <div class=" m-auto text-center mt-5">
                  <div class="count-text1">
                    <div class="icon">
           <i class="fa fa-coffee mt-3" style="font-size: 50px;" aria-hidden="true"></i>
                      
                    </div>
                    <h1 class="mt-3">10,567</h1>
                      <p>Happy Customer</p>
                  </div>
                  </div>
              </div>
              <!-- /////////////////////////// -->
       <!-- ///////////////////////// -->
       <div class="col-lg-3 mt-5 d-flex justify-content-center">
        <div class=" m-auto text-center mt-5">
          <div class="count-text1">
            <div class="icon ">
              <i class="fa fa-coffee mt-3" style="font-size: 50px;" aria-hidden="true"></i>
                         
                       </div>
            <h1 class="mt-3">900</h1>
              <p>Staff</p>
          </div>
          </div>
      </div>
      <!-- /////////////////////////// -->
          </div>
      </div>
  </div>
  
</section>


<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="hh">

</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
<section class=" gallary " id="gallary">
  <div class="container-fluid">
    <div class="row p-0 m-0 ">
      <!-- //// -->
      <div style="background-image: url(/assets/images/gallery-1.jpg);" class="col-lg-3 gallary-img">

      </div>
      <!-- //// -->
      <!-- //// -->
      <div style="background-image: url(/assets/images/gallery-2.jpg);" class="col-lg-3 gallary-img">

      </div>
      <!-- //// -->
      <!-- //// -->
      <div style="background-image: url(/assets/images/gallery-3.jpg);" class="col-lg-3 gallary-img">

      </div>
      <!-- //// -->
      <!-- //// -->
      <div style="background-image: url(/assets/images/gallery-4.jpg);" class="col-lg-3 gallary-img">

      </div>
      <!-- //// -->
    </div>
  </div>
</section>
<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
