<!-- ///////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////// -->

<footer>
    <div class="container ">
    <div class="row ">
  <!-- ///////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////// -->
      <div class=" pl-5 col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4 mt-5  ">
        <div class=" footer-about">
          <h4 class=" h5 text-light">about us</h4>
          <p class="mt-5">
            Far far away,behind the word mountains, 
            far from the countries Vokalia and C
            onsonantia, there live the blind texts.
          </p>
          <div class="social mt-5 text-light">
            <i class=" footer-icon fab fa-twitter"></i>
            <i class=" footer-icon fab fa-facebook"></i>
            <i class=" footer-icon fab fa-instagram"></i>
          </div>
        </div>
      </div>
  <!-- ///////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////// -->
  <div class="  pl-5  services-links  col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4 mt-5 text-left">
    <div class=" footer-text ">
      <ul>
        <h4 class=" h5 text-light text-left">Services</h4>
        <li class="mt-5" > <a  href="#!">Cooked</a></li>
        <li class="mt-4" > <a  href="#!">Deliver</a></li>
        <li class="mt-4" > <a  href="#!">Quality Foods</a></li>
        <li class="mt-4" > <a  href="#!">Mixed</a></li>
      </ul>
    </div>
  </div>
  <!-- ///////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////// -->
  <div class=" pl-5  QUESTIONS col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4 mt-5 ">
  
    <!-- Links -->
    <h4 class=" h5 text-uppercase font-weight-bold text-light">HAVE A QUESTIONS?</h4>
    <hr class="teal  accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
    <p>
      <i class=" icon2 fas fa-home mr-3"></i> banha ,elkalyoubia, egypt </p>
    <p>
      <i class=" icon2 fas fa-envelope mr-3"></i> angular@gmail.com</p>
    <p>
      <i class=" icon2 fas fa-phone mr-3"></i><a class="text-light" style="text-decoration: none;" href="#!"> +2 01142628624 </a></p>
    <p> 
      <i class=" icon2 fas fa-phone mr-3"></i><a class="text-light" style="text-decoration: none;" href="#!"> +2 01064691587 </a></p>
  
  </div>
  <!-- ///////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////// -->
  
    </div>
    </div>
  <br><br>
  <div class="col-lg-12 text-center ml-auto mt-5 pl-5">
    <p style="font-size: 18px;color: #7f7f7f;" >Copyright ©2020 All rights reserved | This template is remade with  by 
      <a class="text-light" href="https://www.facebook.com/mostafa.emadgomaa">angular</a></p>
    </div>
      <br>
  <br>
  <br>
  <br>
  <br>
  </footer>